<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WorkReplyMapper">

	<resultMap type="com.promore.workspace.dto.WorkReplyDto"
		id="work_reply_dto">
		<result column="reply_num" property="replyNum" />
		<result column="reply_id" property="replyId" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_file_name" property="replyFileName" />
		<result column="reply_file_path" property="replyFilePath" />
		<result column="reply_file_size" property="replyFileSize" />
		<result column="work_num" property="workNum" />
	</resultMap>

	<select id="select_reply_num" resultType="int">
		select
		work_reply_reply_num_seq.currval from dual
	</select>

	<insert id="insert_reply"
		parameterType="com.promore.workspace.dto.WorkReplyDto">
		insert into work_reply(
		reply_num,
		reply_id,
		reply_date,
		reply_content,
		reply_file_name,
		reply_file_path,
		reply_file_size,
		work_num
		)
		values(
		work_reply_reply_num_seq.nextval,
		#{replyId},
		sysdate,
		#{replyContent},
		#{replyFileName, jdbcType=VARCHAR},
		#{replyFilePath,
		jdbcType=VARCHAR},
		#{replyFileSize, jdbcType=INTEGER},
		#{workNum}
		)
	</insert>

	<select id="select_file_info"
		parameterType="com.promore.workspace.dto.WorkReplyDto"
		resultMap="work_reply_dto">
		select
		reply_file_name,
		reply_file_size,
		reply_file_path
		from
		work_reply
		where
		reply_num = ${replyNum}
	</select>


	<insert id="insert_file_info"
		parameterType="com.promore.workspace.dto.WorkReplyDto">
		insert into work_reply(
		reply_file_name,
		reply_file_path,
		reply_file_size
		)
		values(
		#{replyFileName, jdbcType=VARCHAR},
		#{replyFilePath, jdbcType=VARCHAR},
		#{replyFileSize, jdbcType=INTEGER}
		)
	</insert>

	<select id="select_reply"
		parameterType="com.promore.workspace.dto.WorkspaceDto"
		resultMap="work_reply_dto">
		select * from work_reply
		where work_num = #{workNum}
		order by
		reply_num
	</select>

	<delete id="delete_reply"
		parameterType="com.promore.workspace.dto.WorkReplyDto">
		delete from work_reply
		where reply_num = #{replyNum}
	</delete>

	<update id="update_reply"
		parameterType="com.promore.workspace.dto.WorkReplyDto">
		update work_reply set
		reply_date = sysdate,
		reply_content
		= #{replyContent}
		where reply_num = #{replyNum}
	</update>

	<insert id="insert_like"
		parameterType="com.promore.workspace.dto.ReplyLikeDto">
		insert into reply_like
		values(#{replyNum}, #{memId})
	</insert>

	<select id="select_like_cnt"
		parameterType="com.promore.workspace.dto.ReplyLikeDto"
		resultType="int">
		select count(*) from reply_like
		where reply_num =
		#{replyNum}
	</select>

	<select id="select_like_for_chk"
		parameterType="com.promore.workspace.dto.ReplyLikeDto"
		resultType="int">
		select count(*) from reply_like
		where reply_num =
		#{replyNum} and mem_id = #{memId}
	</select>

</mapper>