<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WorkspaceMapper">

	<resultMap type="com.promore.workspace.dto.WorkspaceDto"
		id="workspace_dto">
		<result column="work_num" property="workNum" />
		<result column="work_sender" property="workSender" />
		<result column="work_receiver" property="workReceiver" />
		<result column="work_subject" property="workSubject" />
		<result column="work_content" property="workContent" />
		<result column="work_state" property="workState" />
		<result column="work_start_date" property="workStartDate" />
		<result column="work_end_date" property="workEndDate" />
		<result column="work_write_date" property="workWriteDate" />
		<result column="work_file_name" property="workFileName" />
		<result column="work_file_path" property="workFilePath" />
		<result column="work_file_size" property="workFileSize" />
		<result column="pro_num" property="proNum" />
	</resultMap>

	<select id="select_all_work" resultMap="workspace_dto">
		select * from work where
		pro_num = ${proNum} order by work_num desc
	</select>

	<select id="select_work_num" resultType="int">
		select
		work_work_num_seq.currval from dual
	</select>

	<insert id="insert_work"
		parameterType="com.promore.workspace.dto.WorkspaceDto">
		insert into work(
		work_num,
		work_sender,
		work_receiver,
		work_subject,
		work_content,
		work_state,
		work_start_date,
		work_end_date,
		work_write_date,
		work_file_name,
		work_file_path,
		work_file_size,
		pro_num
		)
		values(
		work_work_num_seq.nextval,
		#{workSender},
		#{workReceiver},
		#{workSubject},
		#{workContent},
		#{workState},
		#{workStartDate},
		#{workEndDate},
		sysdate,
		#{workFileName, jdbcType=VARCHAR},
		#{workFilePath, jdbcType=VARCHAR},
		#{workFileSize, jdbcType=INTEGER},
		#{proNum}
		)
	</insert>

	<update id="update_work"
		parameterType="com.promore.workspace.dto.WorkspaceDto">
		update work set
		work_receiver = #{workReceiver},
		work_subject = #{workSubject},
		work_content = #{workContent},
		work_state = #{workState},
		work_start_date = #{workStartDate},
		work_end_date = #{workEndDate}
		where work_num =
		#{workNum}
	</update>

	<delete id="delete_work"
		parameterType="com.promore.workspace.dto.WorkspaceDto">
		delete from work where work_num = #{workNum}
	</delete>

	<select id="select_file_info"
		parameterType="com.promore.workspace.dto.WorkspaceDto"
		resultMap="workspace_dto">
		select
		work_file_name,
		work_file_size,
		work_file_path
		from work
		where
		work_num = ${workNum}
	</select>


	<update id="update_file_info"
		parameterType="com.promore.workspace.dto.WorkspaceDto">
		update work set
		work_file_name = #{workFileName,
		jdbcType=VARCHAR},
		work_file_path = #{workFilePath, jdbcType=VARCHAR},
		work_file_size = #{workFileSize, jdbcType=INTEGER}
		where work_num =
		#{workNum}
	</update>


	<!-- 담당자 선택을 위한 SELECT -->
	<!-- <select id="workspace_memberID"> select apl_mem_ID from project_apply 
		a, project p where a.apl_num = p.pro_num and apl_num = 1 </select> -->

	<!-- 가장 큰 번호 가지고 오기 -->
	<!-- <select id="workspace_bunho" resultType="int"> select nvl(max(work_num),0) 
		form work </select> -->

	<!-- 해당하는 일감select -->
	<!-- <select id="workspace_read" resultMap="workspace_dto" parameterType="int"> 
		<![CDATA[ select * from work where work_num =#{workNum} ]]> </select> -->

	<!-- 일감 update (파일이 없을때 ) -->
	<!-- <update id="workspace_update" parameterType="java.util.HashMap"> update 
		work set work_receiver = #{workReceiver}, work_start_date = #{workStartDate}, 
		work_end_date = #{workEndDate}, work_subject = #{workSubejct}, work_content 
		= #{workContent} where work_num = #{workNum} </update> -->

	<!-- 일감 update(파일이 있을 때 -->
	<!-- <update id="workspace_update" parameterType="java.util.HashMap"> update 
		work set work_receiver = #{workReceiver}, work_start_date = #{workStartDate}, 
		work_end_date = #{workEndDate}, work_subject = #{workSubejct}, work_content 
		= #{workContent}, work_file_name = #{workFileName}, work_file_path = #{workFilePath}, 
		work_file_size = #{workFileSize} where work_num = #{workNum} </update> -->

	<!-- 일감 delete -->
	<!-- <delete id="workspace_delete" parameterType="int"> delete from work 
		where work_num = #{workNum} </delete> -->

</mapper>