<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mapper.CustomerMapper">
	<resultMap type="com.promore.customer.dto.CustomerDto" id="CustomerDto">
		<!-- column: 데이터베이스 property : data -->
		<result column="cus_num" property="cusNum" />
		<result column="cus_title" property="cusTitle" />
		<result column="cus_cate" property="cusCate" />
		<result column="cus_id" property="cusId" />
		
		<result column="cus_date" property="cusDate" />
		<result column="cus_content" property="cusContent" />
		<result column="cus_file_name" property="cusFileName" />
		<result column="cus_file_path" property="cusFilePath" />
		<result column="cus_file_size" property="cusFileSize" />
		
		<result column="cus_group_number" property="cusGroupNumber" />
		<result column="cus_sequence_number" property="cusSequenceNumber" />
		<result column="cus_sequence_level" property="cusSequenceLevel" />
	</resultMap>
	
	<!-- 그룹번호 가져오기 -->
	<select id="customer_board_group_number_max" resultType="int">
		select 
		nvl(max(cus_group_number), 0) from customer_board
	</select>
	
	<!-- 글순서(sequence number)증가 -->
	<update id="customer_board_writer_number" parameterType="java.util.HashMap">
         update customer_board set cus_sequence_number=cus_sequence_number+1
         where cus_group_number=#{cusGroupNumber} and cus_sequence_number>#{cusSequenceNumber}
   	</update>
 
 	<!-- 글쓰기 -->
	<insert id="customer_board_insert" parameterType="com.promore.customer.dto.CustomerDto">
		insert into customer_board
		values (customer_board_cus_num_seq.nextval,
			#{cusTitle},
			#{cusCate},
			#{cusId},
			#{cusDate},
			#{cusContent},
			#{cusFileName},
			#{cusFilePath},
			#{cusFileSize},
			#{cusGroupNumber},
			#{cusSequenceNumber},
			#{cusSequenceLevel})
	</insert>
	
	<!--  글목록 가져오기 -->
	<select id="customer_board_list" parameterType="String" resultMap="CustomerDto">
		select * from customer_board where cus_id = #{customerId}
	</select>
	
	<!-- 작성글 삭제하기 -->
	<delete id="customer_board_delete" parameterType="int" >
      delete from customer_board where cus_num=#{cusNum}
   	</delete>

</mapper>