<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dto.projectDto">

	<resultMap type="com.promore.project.dto.ProjectDto" id="project_dto">
		<result column="pro_num" property="proNum"/>
		<result column="pro_name" property="proName"/>
		<result column="pro_content" property="proContent"/>
		<result column="pro_manager" property="proManager"/>
		<result column="pro_state" property="proState"/>
		<result column="pro_max" property="proMax"/>
		<result column="pro_cnt" property="proCnt"/>
	</resultMap>


<insert id="project_insert" parameterType="com.promore.project.dto.ProjectDto">
		insert into project(
			pro_num,
			pro_name,
			pro_content,
			pro_manager,
			pro_state,
			pro_max,
			pro_cnt
		)
		values(
			project_pro_num_seq.nextval,
			#{proName},
			#{proContent},
			#{proManager},
			#{proState},
			#{proMax},
			#{proCnt}
		)
</insert>

<select id="project_count" resultType="int">
	select count(*) from project
</select>

<select id="project_list" resultMap="project_dto">
	select * from project
</select>

<select id="project_cnt" parameterType="String" resultType="java.lang.String">
	select apl_num from project_apply where apl_mem_id=#{aplMemId}
</select>

<update id="project_update" parameterType="java.util.HashMap">
	update project set
		pro_name = #{projectDto.proName},
		pro_content = #{projectDto.proContent},
		pro_max =  #{projectDto.proMax}
	where pro_num = #{projectDto.proNum}
</update>

<delete id="project_delete" parameterType="int">
	delete from project where pro_num=#{proNum}
</delete>


<insert id="project_apply" parameterType="java.util.HashMap">
	insert into project_apply (
			apl_no,
			apl_num,
			apl_mem_id
			)
			values(
				project_apl_no_seq.nextval,
				#{aplNum},
				#{aplMemId}
			)
</insert>

<update id="project_apply_cnt" parameterType="int">
	update project set
		pro_cnt = pro_cnt+1
	where pro_num=#{proNum}
</update>

<insert id="project_apply_add" parameterType="String">
	insert into project_apply (
			apl_no,
			apl_num,
			apl_mem_id
			)
			values(
				project_apl_no_seq.nextval,
				project_apl_no_seq.nextval,
				#{memId}
			)
</insert>

<update id="project_state_update" parameterType="java.util.HashMap">
	update project set
		pro_state = #{proState}
	where pro_num = #{proNum}
</update>

<select id="project_null" resultType="com.promore.project.dto.ProjectDto">
	select * from project
</select>


<select id="project_select_list" parameterType="int" resultMap="project_dto">
	select * from project where pro_num=#{proNum}
</select>

<select id="project_select" parameterType="int" resultMap="project_dto">
	select * from project where pro_num=#{proNum}
</select>

</mapper>