<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.promore.member.dao.mapper.MemberMapper">
	<resultMap type="com.promore.member.dto.MemberDto" id="member_dto">
		<result column="mem_id" property="mem_id"/>
		<result column="mem_password" property="mem_password"/>
		<result column="mem_email" property="mem_email"/>
		<result column="mem_level" property="mem_level"/>
	</resultMap>
	
	<select id="member_login" parameterType="java.util.Map" resultType="String">
		select mem_level from member where mem_id=#{mem_id} and mem_password=#{mem_password}
	</select>
	
	
</mapper>








